@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--cap-brown: #9e6866;
	--tie-black: #363a40;
	--feather-cream: #f5f3ef;
	--sky-gray: #acb3bf;
	--border-gray: #cdd2d8;
	--separator-gray: #e5e7eb;
	--accent-red: #c8514f;
}

html {
	min-height: 100%;
	font-family: system-ui, "Meiryo", sans-serif;
	color: theme(colors.gray.800);
	background-color: theme(colors.white);
}

.body-text a {
	color: var(--accent-red);
	text-decoration: underline;
	text-decoration-color: rgb(var(--accent-red) / 0.2);
	text-underline-offset: 2px;
	text-decoration-thickness: 1.5px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

h1,
h2,
h3,
.palt {
	font-feature-settings: "palt" 1, "kern" 1;
	letter-spacing: calc(1px - 0.025em);
}

.font-hiragino {
	font-family: "Hiragino Mincho Pr6N", "Hiragino Mincho ProN", serif;
}

.codemirror-wrapper {
	height: 100%;
	flex-grow: 1;
	display: block flex;
	flex-direction: column;
}

/* CodeMirror selection color */
.cm-content::selection {
	color: theme(colors.white) !important;
}
.cm-selectionBackground {
	background: theme(colors.blue.600) !important;
}

@keyframes copy-animation {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	10% {
		transform: scale(1);
		opacity: 1;
	}
	80% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}

@keyframes flush {
	0% {
		background-color: theme(colors.slate.100);
	}
	99% {
		background-color: theme(colors.slate.100);
	}
	100% {
		background-color: theme(colors.white);
	}
}
