@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	min-height: 100%;
	font-family: system-ui, "Meiryo", sans-serif;
	color: theme(colors.gray.800);
	background-color: theme(colors.white);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

h1,
h2,
h3,
.palt {
	font-feature-settings: "palt" 1;
	letter-spacing: calc(1px - 0.025em);
}

.font-hiragino {
	font-family: "Hiragino Mincho Pr6N", "Hiragino Mincho ProN", serif;
}

.codemirror-wrapper {
	height: 100%;
	flex-grow: 1;
	display: block flex;
	flex-direction: column;
}

@keyframes copy-animation {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	10% {
		transform: scale(1);
		opacity: 1;
	}
	80% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0.8);
		opacity: 0;
	}
}

@keyframes flush {
	0% {
		background-color: theme(colors.slate.100);
	}
	99% {
		background-color: theme(colors.slate.100);
	}
	100% {
		background-color: theme(colors.white);
	}
}
